.boardful_card {
	height: 120px;
	width: 90px;
	position: absolute;
}
.boardful_card > .card {
	height: 100%;
	width: 100%;
	position: absolute;

	border: thin solid Grey;
	border-radius: 10px;
	box-shadow: 3px 3px 1px 0px rgba(0,0,0,0.4);

	transition: transform 1s;
}

.boardful_card > .card > .face {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;

	overflow: hidden;
	border-radius: 10px;
	backface-visibility: hidden;
	transition: transform 1s;
}
.boardful_card > .card > .face > img {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;

	overflow: hidden;
	border-radius: 10px;
}
.boardful_card > .card > .back {
	transform: rotateY(-180deg);
}

.boardful_card > .card > .text {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0%;
	left: 0%;

	vertical-align: middle;
	text-align: center;
	overflow: hidden;
	line-height: 100px;
}
.boardful_card > .card > .text > span {
	display: inline-block;
	line-height: normal;
	vertical-align: middle;
	text-align: center;
	font-size: xx-large;
}

.boardful_card > .card.flip {
	transform: rotateY(-180deg);
}
.boardful_card > .card.flip > .front {
	transform: rotateY(-180deg);
}
.boardful_card > .card.flip > .back {
	transform: rotateY(0);
}
.boardful_card > .card.flip > .text {
	visibility: hidden;
}
.boardful_card > .card.flip > .value {
	visibility: hidden;
}
.boardful_card > .card.disable > .fog {
	width: 100%;
	height: 100%;
	position: absolute;

	background-color: Black;
	opacity: 0.5;
	z-index: 1;
	border-radius: 10px;
}
.boardful_card > .card.focus {
}