.boardful_reminder {
	height: 5%;
	width: 80%;
	position: absolute;
	top: 60%;
	left: 10%;

	-webkit-transition: opacity 3s ease-in-out;
	-moz-transition: opacity 3s ease-in-out;
	-ms-transition: opacity 3s ease-in-out;
	-o-transition: opacity 3s ease-in-out;
}
.boardful_reminder:hover {
	opacity: 1;
}
.boardful_reminder > span {
	width: 100%;
	position: absolute;

	background-color: Aquamarine;
	text-align: center;
	font-size: xx-large;
}