.boardful_value_change {
	height: 30%;
	width: 30%;
	position: absolute;
	top: 10%;
	left: 10%;

	opacity: 1;
	text-align: center;

	transition: transform 2s ease-in-out, opacity 2s ease-in-out;
}
.boardful_value_change.vanish {
	opacity: 0;
	transform: translate(0px, 100px);
}
.boardful_value_change.increase {
	color: Blue;
}
.boardful_value_change.decrease {
	color: Red;
}