.boardful_corner_value {
	height: 100%;
	width: 100%;
	position: absolute;

	opacity: 0;
	transition: opacity .25s ease-in-out;
}
.boardful_corner_value > div {
	height: 30%;
	width: 40%;
	position: absolute;

	border-radius: 50%;
	line-height: 30px;
	vertical-align: middle;
	text-align: center;
}
.boardful_corner_value > div > span {
	color: White;
	text-shadow: 2px 2px 3px Black;

	display: inline-block;
	line-height: normal;
	vertical-align: middle;
	text-align: center;
}
.boardful_corner_value > .topleft {
	top: -10%;
	left: -15%;

	background-color: Red;
}
.boardful_corner_value > .topright {
	top: -10%;
	right: -15%;

	background-color: Blue;
}
.boardful_corner_value > .bottomleft {
	bottom: -10%;
	left: -15%;

	background-color: Yellow;
}
.boardful_corner_value > .bottomright {
	bottom: -10%;
	right: -15%;

	background-color: Grey;
}

.boardful_corner_value.visible {
	opacity: 1;
}