.boardful_draggable {
	cursor: grab;
	cursor: -webkit-grab;
	cursor:-moz-grab;
}
.boardful_draggable.dragging {
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

	cursor: grabbing;
	cursor: -webkit-grabbing;
	cursor:-moz-grabbing;
}