.boardful_card {
	position: absolute;

	border: thin solid Grey;
	border-radius: 10px;
	box-shadow: 3px 3px 1px 0px rgba(0,0,0,0.4);
	cursor: grab;
	transition: transform 1s;
}
.boardful_card > .face {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;

	overflow: hidden;
	border-radius: 10px;
	backface-visibility: hidden;
	transition: transform 1s;
}
.boardful_card > .face > img {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;

	overflow: hidden;
	border-radius: 10px;
}
.boardful_card > .back {
	transform: rotateY(-180deg);
}
.boardful_card > .text {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0%;
	left: 0%;

	vertical-align: middle;
	text-align: center;
	overflow: hidden;
	line-height: 100px;
}
.boardful_card > .text > span {
	display: inline-block;
	line-height: normal;
	vertical-align: middle;
	text-align: center;
	font-size: xx-large;
}
.boardful_card > .value {
	height: 30%;
	width: 40%;
	position: absolute;

	border-radius: 50%;
	line-height: 30px;
	vertical-align: middle;
	text-align: center;
	opacity: 0;
	transition: opacity .25s ease-in-out;
}
.boardful_card > .value > span {
	color: Black;
	display: inline-block;
	line-height: normal;
	vertical-align: middle;
	text-align: center;
}
.boardful_card > .topleft {
	top: -10%;
	left: -15%;

	background-color: Red;
}
.boardful_card > .topright {
	top: -10%;
	right: -15%;

	background-color: Blue;
}
.boardful_card > .bottomleft {
	bottom: -10%;
	left: -15%;

	background-color: Yellow;
}
.boardful_card > .bottomright {
	bottom: -10%;
	right: -15%;

	background-color: Grey;
}

.boardful_card.dragging {
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

	cursor: grabbing;
}
.boardful_card.flip {
	transform: rotateY(-180deg);
}
.boardful_card.flip > .front {
	transform: rotateY(-180deg);
}
.boardful_card.flip > .back {
	transform: rotateY(0);
}
.boardful_card.disable > .fog {
	width: 100%;
	height: 100%;
	position: absolute;

	background-color: Black;
	opacity: 0.5;
	z-index: 1;
	border-radius: 10px;
}
.boardful_card.focus {
}
.boardful_card > .value.visible {
	opacity: 1;
}