.boardful_deck {
	height: 20%;
	width: 40%;

	border: thin solid Grey;
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

	overflow: hidden;
	perspective: 800px;
	-webkit-perspective: 800px;
}
.boardful_deck > div {
	float: left;
}
.boardful_deck.compact > div {
	transform: rotateY(-60deg);
	margin: 0 -10px;
}