.boardful_list {
	height: 30%;
	width: 50%;
	position: absolute;

	border: thin solid Grey;
}
.boardful_list > #names {
	height: 100%;
	width: 40%;
	position: absolute;
	top: 0;
	left: 0;

	overflow-y: scroll;
	overflow-x: hidden;
}
.boardful_list > #names > div {
	width: 100%;
	position: relative;

	border-bottom: thin solid Silver;
	text-align: center;
}
.boardful_list > #names > #title {
	font-size: x-large;
}
.boardful_list > #names > .item {
	width: 90%;

	display: block;
	margin-left: auto;
	margin-right: auto;

	cursor: pointer;
}

.boardful_list > #preview {
	height: 100%;
	width: 60%;
	position: absolute;
	top: 0;
	left: 40%;
}
.boardful_list > #preview > img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}